<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판목록</title>
  <link rel="stylesheet" href="/css/product/all.css">
  <script th:inline="javascript">
    window.totalCnt = [[${totalCnt}]];
    window.cpgs = [[${cpgs}]];
    window.cp = [[${cp}]];
  </script>
  <!--async : html dom트리 형성후 수행됨  -->
  <script type="module" src="/js/product/all.js"></script>
</head>
<body>
<h3>게시판</h3>

<form id="frm" action="/products/del" method="POST">
  <div>
    <table>
      <thead>
      <tr>
        <td id="selectAll">전체</td>
        <td>유저명</td>
        <td>제목</td>
        <td>내용</td>
      </tr>
      </thead>
      <tbody id="rows">
      <tr class="row" th:each="product :${list}" th:data-product-id="${product.productId}">
        <td class="chk"><input type="checkbox" name="pids" th:value="${product.productId}"></td>
        <td th:text="${product.pname}"></td>
        <!--/*  <td><a th:href="|products/${product.productId}/detail|" th:text="${product.pname}"></a></td> */-->
        <!--/* <td><a th:href="@{/products/{productId}/detail(productId=${product.productId})}" th:text="${product.pname}"></a></td> */-->
        <td th:text="${product.quantity}"></td>
        <td th:text="${product.price}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button type="submit" id="delBtn">삭제</button>
    <button type="button" id="addBtn">등록</button>
  </div>
</form>
<div id="pagination"></div>
</body>
</html>