<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        //script 엘리먼트
        const $script = document.createElement('script');
        $script.src = '/js/prouct/products.js';

        document.head.appendChild('')
        document.head.appendChild('')
        #delModal::backdrop {
      background-color: rgba(0,0,255,0.1);
    }
    #delModal {
      border:none;
      outline:none;
      border-radius : 5%;
      background-color: rgba(0,0,255,0.5);
      box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
    }
    </script>
</body>
</html>